body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.relogio{
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: bold;
    font-size: 150px;
    color: white;
}

.frase{
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

h1{
    padding: 90px;
    text-align: center;
    font-size: 35px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
}

footer{
    font-family: tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: px;
}

img{
    height: 25px;
    width: 25px;
}